<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/user/resetPassword.css">
</head>
<body>
<div class="forget-box">
    <div class="box-title">
        <p>重置密码</p>
    </div>
    <div class="box-item">
        <div class="errorMsg">
            <span id="errorMsg"></span>
        </div>
        <form th:action="@{/resetPswd}" method="post" onsubmit="return check()">
            <div class="form-item">
                <span>新的密码:</span>
                <input id="pwd" name="pwd" type="password" autocomplete="off" placeholder="新的密码">
            </div>
            <div class="form-item">
                <span>重复密码:</span>
                <input id="newpwd" type="password" autocomplete="off" placeholder="重复密码">
            </div>
            <div class="form-item">
                <button type="submit">确认重置</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.4/jquery.min.js"></script>
<script>
    function check() {
        let pwd = $('#pwd').val()
        let newPed = $('#newpwd').val()
        let pReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[`~!@#$%^&*()_+<>?:"{},.\/\\;'[\]])[A-Za-z\d`~!@#$%^&*()_+<>?:"{},.\/\\;'[\]]{8,}$/;
        if (pwd == ""){
            $('#errorMsg').text("请输入新密码");
            return false;
        }
        if (!pReg.test(pwd)){
            $('#errorMsg').text("请输入8位包含数字、字母、特殊符号的密码");
            return false;
        }
        if (pwd != newPed){
            $('#errorMsg').text("请输入相同的密码");
            return false;
        }
        return true;
    }
</script>
</body>
</html>