@charset "utf-8";
.content .purchased {
    width: 1080px;
    height: 500px;
    float: left;
    padding-left: 60px;
}

.content .purchased .record {
    height: 215px;
    border-bottom: 1px sandybrown solid;
}

.content .purchased .page {
    margin-top: 50px;
    text-align: center;
}